# Don't include any artefacts
artefacts/

# These are the 'local' modified copies
ansible/
cloud-init/
!examples/*

# Copied Ansible tree
mkosi/mkosi.skeleton/var/opt/

# Don't add the cache
mkosi/mkosi.cache/

# This is fetched from the local system at time of creation
archlive/
# Cache used my mkarchiso
archiso.cache/
# Temporary file created by curses menu
resources/disk

# venv for installing mkosi, if needed
venv/
