# Don't include any artefacts
artefacts/

# These are the 'local' modified copies
ansible/
cloud-init/

# Copied Ansible tree
mkosi/mkosi.skeleton/var/opt/

# venv for installing mkosi, if needed
venv/
